html
    body
        script(src='//code.jquery.com/jquery-1.11.3.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/controller.js')


        h1 #{title}
        p THIS IS A TEST
